@{
    Layout = "~/Views/Shared/_LayoutMovie.cshtml";
}
@model NexOneVS.ViewModels.ListViewModel

@{
    ViewBag.Title = "MyList";
}
<style>
    form {
        display: inline-block;
    }

    .table tbody tr td {
        vertical-align: middle;
    }
</style>
<div class="page-header">
    <h2 class="text-success">My list </h2>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <a href=@Url.Action("Index", "Movies") class="btn btn-primary">
                <i class="fa fa-plus-circle paddingR10"></i>Add Movie
            </a>
            <a href=@Url.Action("Index", "Games") class="btn btn-primary">
                <i class="fa fa-plus-circle paddingR10"></i>Add Game
            </a>
            <a href=@Url.Action("Index", "TV") class="btn btn-primary">
                <i class="fa fa-plus-circle paddingR10"></i>Add TV Show
            </a>
            <br /><br /><br />
            <table class="table table-hover topOffset20">
                <thead>
                    <tr>
                        <th>
                        </th>
                        <th>
                            Title
                        </th>
                        <th>
                            Type
                        </th>
                        <th class="text-center">Added</th>
                        <th></th>
                    </tr>
                </thead>
                @foreach (var item in @Model.Queue)
                {
                    if (item.Watched == false)
                    {
                        <tbody>
                            <tr>
                                <td>
                                    <a href="/Movies/Title/@item.IDforAPI">
                                        @if (!item.ImagePath.StartsWith("htt"))
                                        {
                                            <img src="http://image.tmdb.org/t/p/w92/@item.ImagePath" alt="@item.ImagePath" class="img-responsive" />
                                        }
                                        else
                                        {
                                            <img src="@item.ImagePath" class="img-responsive" />
                                        }
                                    </a>
                                </td>
                                <td>
                                    @item.ItemName
                                    @if (DateTime.Now.Subtract(item.CreatedDate).Minutes < 10)
                                    {
                                        <label class="text-success paddingL5"><i>new</i></label>
                                    }
                                </td>
                                <td>
                                    @*<span class="label label-danger">@item.Type.ToLower()</span>*@
                                    @if (item.Type == "Movie")
                                    {
                                        <label class="text-info"><i class="fa fa-film" data-toggle="tooltip" data-placement="top" title="Movie"></i></label>
                                    }
                                    else if (item.Type == "Game")
                                    {
                                        <label class="text-info"><i class="fa fa-gamepad" data-toggle="tooltip" data-placement="top" title="Game"></i></label>
                                    }
                                    else
                                    {
                                        <label class="text-info"><i class="fa fa-tv" data-toggle="tooltip" data-placement="top" title="TV"></i></label>
                                    }
                                </td>
                                <td style="text-align:center">
                                    @if (DateTime.Now.Subtract(item.CreatedDate).Days < 31 && DateTime.Now.Subtract(item.CreatedDate).Days > 0)
                                    {
                                        @Html.Raw(DateTime.Now.Subtract(item.CreatedDate).Days.ToString());
                                        <label>days</label>
                                    }
                                    else if (DateTime.Now.Subtract(item.CreatedDate).Hours < 24 && DateTime.Now.Subtract(item.CreatedDate).Hours > 0)
                                    {
                                        @Html.Raw(DateTime.Now.Subtract(item.CreatedDate).Hours.ToString());
                                        <label>hrs</label>
                                    }
                                    else if (DateTime.Now.Subtract(item.CreatedDate).Minutes < 60 && DateTime.Now.Subtract(item.CreatedDate).Minutes >= 0)
                                    {
                                        @Html.Raw(DateTime.Now.Subtract(item.CreatedDate).Minutes.ToString());
                                        <label>mins</label>
                                    }
                                    else
                                    {
                                        @Html.Raw(item.CreatedDate.ToString("MMM dd, yyyy"));
                                    }
                                </td>

                                <td style="text-align:right">
                                    @using (Html.BeginForm("Watched", "Manage", new { id = item.ID }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <button type="submit" class="btn btn-success">
                                            @if (item.Type == "Game")
                                            {
                                                <span class="">Played</span>
                                            }
                                            else
                                            {
                                                <span class="">Watched</span>
                                            }
                                        </button>
                                    }
                                    @using (Html.BeginForm("Delete", "Manage", new { id = item.ID }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <button type="submit" class="btn btn-warning" onclick="return confirm('Are you sure you want to remove @item.ItemName?');">
                                            <span class="">Remove</span>
                                        </button>
                                    }

                                </td>

                                <td></td>
                            </tr>
                        </tbody>
                    }
                }

            </table>
        </div>
        <div class="col-lg-3">
            <br /><br /><br /><br />
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title text-center" style="color:black">Watched or Played</h3>
                </div>
                <ul class="list-group">
                    @foreach (var item in @Model.Queue)
                    {
                        if (item.Watched == true)
                        {
                            <li class="list-group-item">
                                @if (item.Type == "Movie")
                                {
                                    <i class="fa fa-film text-info paddingR10"></i><a href="/Movies/Title/@item.IDforAPI">@item.ItemName</a>
                                }
                                else if (item.Type == "Game")
                                {
                                    <i class="fa fa-gamepad text-info paddingR10"></i><a href="/Games/Title/@item.IDforAPI">@item.ItemName</a>
                                }
                                else
                                {
                                    <i class="fa fa-tv text-info paddingR10"></i><a href="/TV/Title/@item.IDforAPI">@item.ItemName</a>
                                }
                            </li>
                        }

                    }
                </ul>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
