@using NexOneVS.Models
@model NexOneVS.Models.MovieDB
<h2><a href="#NOWPLAYING">Now Playing</a>    |    <a href="#DVDS">Go to DVD releases</a></h2>
<h2>Now Playing</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <td></td>
                <td>Title</td>
                <td>Genre</td>
                <td>Release Date</td>
                <td>Popularity</td>
                <td>Links</td>
            </tr>
        </thead>
        <tbody>
            @foreach (MovieDB.Result result in Model.results)
            {
                <tr>
                    <td><img src="http://image.tmdb.org/t/p/w92/@result.poster_path" alt="" /></td>
                    <td>@result.original_title</td>
                    <td>Sample Genre</td>
                    <td>@result.release_date</td>
                    <td>@result.popularity</td>
                    <td>Fandango Link Icon</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<h2 id="DVDS">DVD's</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <td></td>
                <td>Title</td>
                <td>Genre</td>
                <td>Release Date</td>
                <td>Popularity</td>
                <td>Links</td>
            </tr>
        </thead>
        <tbody>
            @foreach (MovieDB.Result result in Model.results)
            {
                <tr>
                    <td><img src="http://image.tmdb.org/t/p/w92/@result.poster_path" alt="" /></td>
                    <td>@result.original_title</td>
                    <td>Sample Genre</td>
                    <td>@result.release_date</td>
                    <td>@result.popularity</td>
                    <td>Fandango Link Icon</td>
                </tr>
            }
        </tbody>
    </table>
</div>